@use "../variables" as v;

.sect._akun {
  .content {
    .form {
      border: 1px solid v.$color;
      border-radius: 20px;
      overflow: hidden;
      .akun-title {
        padding: 20px;
        background-color: #1b1b1bcc;
        color: v.$background;
        text-align: center;
        font-weight: bold;
      }
      .akun-content {
        padding: 20px;
        .field {
          margin-bottom: 10px;
          p {
            line-height: 1.5;
          }
          input {
            width: 100%;
            padding: 10px;
            background-color: v.$bg_1;
            border-radius: 10px;
            border-bottom: 1px solid v.$color;
            border-left: 1px solid v.$color;
          }
          .btn-action {
            text-align: right;
          }
          .btn {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-weight: bold;
            border: 1px solid v.$color;
            background-color: v.$background;
          }
          .logout {
            border-color: v.$red;
            background-color: v.$red;
            color: v.$background;
          }
        }
        .field:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}