@use "../variables" as v;
.fuwi {
  z-index: 99;
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000030;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
._tambarang {
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    width: calc(100% - 40px);
    max-width: 500px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    background-color: v.$bg_1;
    border: 1px solid v.$color;
    border-radius: 20px;
    padding: 20px;
    animation: popup_in 0.5s;
    .field {
      margin-bottom: 10px;
      label {
        display: block;
        line-height: 1.5;
      }
      input, textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #cccccc;
        border-bottom: 1px solid v.$color;
        border-left: 1px solid v.$color;
      }
    }
    .tr-types {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: left;
      gap: 10px;
      .tr-type {
        width: calc(100% / 2);
        label {
          width: 100%;
          height: 100%;
          display: block;
          background-color: v.$bg_1;
          border: 1px solid v.$color;
          border-radius: 10px;
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 10px;
          padding: 10px;
          cursor: pointer;
        }
        label:has(:checked) {
          background-color: v.$blurple;
          color: v.$background;
        }
      }
    }
    .br-t {
      margin-top: 20px;
    }
    .field.action {
      width: 100%;
      .btn {
        width: 100%;
        background-color: v.$red;
        padding: 10px;
        text-align: center;
        color: v.$background;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .field.actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      .btn {
        width: calc(100% / 2);
        border: 1px solid v.$color;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        align-content: center;
        font-weight: bold;
        text-transform: uppercase;
      }
      .btn:last-child {
        background-color: v.$color;
        color: v.$background;
      }
    }
    .field:last-child {
      margin-bottom: 0;
    }
  }
}
._tambarang.out {
  .form {
    animation: popup_out 0.5s forwards;
  }
}